.semana-contenedor{

    width:100%;


    background:white;

    border-radius:16px;

    overflow:hidden;

    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.semana-header{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:20px 25px;

    background:#2d6cdf;

    color:white;
}

#tituloSemana{

    font-size:20px;
    font-weight:bold;
}

.btn-nav{

    width:42px;
    height:42px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:white;

    color:#2d6cdf;

    font-size:20px;

    transition:.25s;
}

.btn-nav:hover{

    transform:scale(1.08);

    background:#f3f6fc;
}

.dias-semana{

    display:grid;

    grid-template-columns:repeat(7,1fr);
    overflow: auto;
}

.dia{

    padding:25px 10px;

    border-right:1px solid #ececec;

    text-align:center;

    transition:.25s;

    cursor:pointer;
}

.dia:last-child{

    border-right:none;
}

.dia:hover{

    background:#f5f8ff;
}

.nombre{

    font-size:15px;

    color:#666;

    margin-bottom:12px;
}

.numero{

    width:48px;

    height:48px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

    font-weight:bold;
}

.mes{

    margin-top:10px;

    color:#888;

    font-size:13px;
}

.hoy .numero{

    background:#2d6cdf;

    color:white;
}
.lista-tareas{

    margin-top:18px;

    display:flex;

    flex-direction:column;

    gap:8px;

    max-height:260px;

    overflow-y:auto;

    padding-right:4px;

}

/* Scroll bonito */

.lista-tareas::-webkit-scrollbar{

    width:6px;

}

.lista-tareas::-webkit-scrollbar-thumb{

    background:#d0d0d0;

    border-radius:20px;

}

.tarea{

    border-left:5px solid #2d6cdf;

    background:#f6f9ff;

    border-radius:8px;

    padding:8px;

    text-align:left;

    transition:.25s;
}

.tarea:hover{

    background:#edf3ff;

    transform:translateY(-2px);

}

.titulo-tarea{

    font-size:13px;

    font-weight:bold;

    color:#333;
}

.hora-tarea{

    margin-top:4px;

    color:#777;

    font-size:12px;
}

/* Colores */

.color-verde{
    border-left-color:#2ecc71;
}

.color-rojo{
    border-left-color:#e74c3c;
}

.color-naranja{
    border-left-color:#f39c12;
}

.color-morado{
    border-left-color:#9b59b6;
}

.color-azul{
    border-left-color:#3498db;
}
@media(max-width:700px){

    body{

        padding:15px;
    }

    #tituloSemana{

        font-size:16px;
    }

    .dia{

        padding:15px 4px;
    }

    .numero{

        width:40px;
        height:40px;

        font-size:17px;
    }

    .mes{

        display:none;
    }

}

/* En celulares solamente se ve el nombre del día */

@media(max-width:520px){

    .nombre{

        font-size:13px;
    }

    .numero{

        display:none;
    }

}